# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
xinu-vbox/compile/.defs
xinu-vbox/compile/.vers_num
xinu-vbox/compile/version
xinu-vbox/system/conf.c
xinu-vbox/config/y.tab.c
xinu-vbox/config/lex.yy.c
xinu-vbox/config/config
xinu-vbox/include/conf.h
